$baseclass: 'card';

.#{$baseclass} {
  position: relative;
  width: 100%;
  margin-bottom: 3 * $rem-base;

  &__header, &__bar, &__body {
    border-radius: 8px;
    max-width: 1000px;
    //justify-content: center;
    //align-items: center;
    margin-left: auto;
    margin-right: auto;
  }

  &__header, &__body {
    padding: (3 * $rem-base) (4 * $rem-base);
    border: solid 3px;
    border-bottom: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: (10 * $rem-base);
  }

  &__body {
    padding-top: 0;
    padding-bottom: 0;
    border-top: 0;
    border-radius: 0;
    display: flex;
    flex-direction: wrap;
    //display: grid;
    //grid-template-columns: repeat(5, 1fr);
    //grid-auto-rows: minmax(100px, auto);
    max-height: 0;
    transition: max-height $duration-short $easing1;
    overflow: hidden;
  }

  @keyframes zoominoutsinglefeatured {
      0% {
          transform: scale(1,1);
      }
      50% {
          transform: scale(1.05,1.05);
      }
      100% {
          transform: scale(1,1);
      }
  }

  &__body__column__one {
    grid-column: 1 ;
    grid-row: 1;
    //width: min-content;
    //transform: scale(0.85);
    /* (B) ANIMATE ZOOM */
    /* ease | ease-in | ease-out | linear */
    //transition: transform ease-in-out 0.4s;
  }
  &__body__column__two {
    grid-column: 2/4 ;
    grid-row: 1 ;
    //border-right: 2px solid white;
    display: flex;
    flex-direction: column;
    //text-align: center;
    width: "auto";
  }
  /*&__body__column__three {
    grid-column: 4/6;
    grid-row: 2/3;
    margin-left: 32px;
  }
  &__body__column__four {
    grid-column: 3;
    grid-row: 4;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  /*&__body__column__five {
    grid-column: 5;
    grid-row: 3;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }*/
  &__body__column__six {
    grid-column: 4/6;
    grid-row: 3/5;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
    margin-bottom: 2 * $rem-base;
    margin-left: 32px;
  }
  /*&__body__column__seven {
    grid-column: 4;
    grid-row: 2 / 4;

  }*/
  &__body__column__eight {
    grid-column: 1/4;
    grid-row: 2/5;
    //border-right: 2px solid white;
    margin-bottom: 2 * $rem-base;
  }
  &__body__column__nine {
    grid-column: 4/6;
    grid-row: 1/3;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding-top: 3 * $rem-base;
    margin-left: 32px;
    margin-bottom: 2 * $rem-base;
  }

  &__token__buttons {
    padding-left: 10px;
    display: flex;
    flex-wrap: wrap;

    transition: transform $easing1 $duration-short;
    cursor: pointer;
  }
  &__body__column {
    margin-right: 4 * $rem-base;
    margin-bottom: 4 * $rem-base;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    &:first-child {
      border-right: solid 2px rgba(white, 0.33);
    }

    > * {
      &:not(:last-child) {
        margin-bottom: 2 * $rem-base;
      }
    }
  }

  &__header--right {
    display: flex;
    justify-content: flex-end;
    flex: 1;

    > * {
      margin-left: px-to-rem($rem-base * 3);
    }
  }

  &__bar {
    height: $rem-base;
    width: 100%;
    background: $brand-white;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  &__open-button {
    transition: transform $easing1 $duration-short;
    cursor: pointer;
  }

  &--token__switch {
    .#{$baseclass}__body__column__nine {
      transform: scale(1.0);
    }
  }
  &--open {
    .#{$baseclass}__body {
      max-height: 1500px;
    }
    .#{$baseclass}__open-button {
      transform: rotate(-45deg);
    }

    .#{$baseclass}__body__column__one {
      //animation: zoominoutsinglefeatured 1s;
    }

    .#{$baseclass}__body__column__nine {
      animation: zoominoutsinglefeatured 1s;
    }

    .#{$baseclass}__body__column__eight {
      transform: scale(1.0);
    }

    .#{$baseclass}__body__column__six {
      animation: zoominoutsinglefeatured 1s;
    }

    .#{$baseclass}__body__column__two {
      transform: scale(1.0);
    }

    .#{$baseclass}__token__buttons {
      transform: scale(1.0);
    }

  }

  @media screen and (max-width: $bp-medium) {
    .#{$baseclass}__header {
      padding: (3 * $rem-base);
    }
  }
}