@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

@font-face {
	font-family: 'Hurme';
	font-weight: 600;
	font-style: normal;
	src: url('/fonts/Hurme/Hurme-SemiBold.eot');
	src: url('/fonts/Hurme/Hurme-SemiBold.eot?#iefix') format('embedded-opentype'),
	url('/fonts/Hurme/Hurme-SemiBold.woff2') format('woff2'),
	url('/fonts/Hurme/Hurme-SemiBold.woff') format('woff'),
	url('/fonts/Hurme/Hurme-SemiBold.otf') format('truetype'),
	url('/fonts/Hurme/Hurme-SemiBold.svg') format('svg');
}
